<!DOCTYPE html>
<html lang="es">

<head>
    <!-- head -->
    <%- include('../partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/createProductStyle.css">
    <title>Crear Producto</title>
</head>


<body>

    <!-- header -->
    <%- include('../partials/header.ejs') %>
    <main class="main">
        <div class="crearprod container">
            <h1 class="crearprod__titulo">Crear Producto</h1>
            <form class="crearprod__form">
                <div class="campo">
                    <label for="nombreProd">Nombre del producto:</label>
                    <input type="text" name="nombreProd" id="nombreProd">
                </div>
                <div class="campo">
                    <label for="descripcionProd">Descripción:</label>
                    <input type="text" name="descripcionProd" id="descripcionProd">
                </div>
                <div class="campo">
                    <label for="categoriaProd">Categoria:</label>
                    <input type="text" name="categoriaProd" id="categoriaProd">
                </div>
                <div class="campo">
                    <label for="precioProd">Precio:</label>
                    <input type="number" min="0" max="999999" name="precioProd" id="precioProd">
                </div>
                <div class="campo">
                    <label for="imagenProd">Imagen:</label>
                    <input type="file" accept="/jpg" name="imagenProd" id="imagenProd">
                </div>
                <div class="campo">
                    <input class="boton boton-verde" id="botonCrearProd" type="submit" value="Crear Producto">
                </div>
            </form>
        </div>

    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>