<!DOCTYPE html>
<html lang="es">

<!-- head -->
<%- include('../partials/head.ejs') %>

<body>

    <!-- header -->
    <%- include('../partials/header.ejs') %>

    <main class="main_Details_Products">

        <div class="details_Products_Container">

            <div class="details_Products_Item">
                <img src="/img/alimentos.jpg" alt="" class="detail_img">
            </div>

            <div class="details_Products">

                <div class="details_Products_Title">
                    <h2 class="products_Title"> Titulo del Producto</h2>
                </div>

                <div class="details_Products_Description">
                    <div class="products_Description_Title">
                        <h3>Descripcion del producto:</h3>
                    </div>
                    <div class="products_Description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est dolorem
                            consequuntur,
                            ipsa at laboriosam voluptas sit! Quae, doloremque ipsum aperiam quaerat rerum quibusdam
                            sequi
                            corporis id exercitationem commodi reiciendis
                        </p>
                    </div>
                    <div class="description_Price">
                        <h4>
                            Precio: $
                        </h4>
                        <h4>
                            5000
                        </h4>
                    </div>
                    <div class="description_Amount">
                        <div class="description_Amount_Title">
                            <h4>
                                Cantidad
                            </h4>
                        </div>
                        <div class="description_Amount_Num">
                            <button class="button_Amount" type="button">
                                -
                            </button>
                            <input class="amount_Num" type="tel" step="1" value="1">
                            <button class="button_Amount" type="button">
                                +
                            </button>
                        </div>
                    </div>
                    <div class="description_Payment">
                        <div class="method_Payment">
                            <h4>
                                Metodos de pago
                            </h4>
                        </div>
                        <div class="method_Payment_Item">
                            <li class="payment_li">
                                <img src="/img/visa_logo.png" alt="img_Payment"
                                    class="products_payment_logo_img">
                            </li>
                            <li class="payment_li">
                                <img src="/img/mastercard_logo.png" alt="img_Payment"
                                    class="products_payment_logo_img">
                            </li>
                            <li class="payment_li">
                                <img src="/img/Icono_tarjeta.png" alt="img_Payment"
                                    class="products_payment_logo_img">
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>