<!DOCTYPE html>
<html lang="es">

<head>
    <!-- head -->
    <%- include('../partials/head.ejs')  %>
    <title>Picatso</title>
</head>

<body>

    <!-- header -->
    <%- include('../partials/header.ejs') %>
    <main id="main">
        <section class="carrito">
            <h2>Productos en el Carrito</h2>
            <ul class="lista-productos">
                <!-- Ejemplo de un producto en el carrito -->
                <li class="producto-carrito">
                    <div class="producto-imagen">
                        <img src="/img/prod1-rascador.jpg" alt="Producto 1">
                    </div>
                    <div class="producto-info">
                        <h3>Rascador de 60 cm</h3>
                        <p>Precio: $50.00</p>
                    </div>
                    <div class="producto-cantidad">
                        <select id="cantidad-producto1" class="selector-cantidad">
                            <!-- Opciones para la cantidad -->
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <!-- Agrega más opciones según sea necesario -->
                        </select>
                    </div>
                    <div class="producto-precio-final">
                        <p>Final: $<span class="precio-final">50.00</span></p>
                    </div>
                    <div class="producto-remover">
                        <button class="btn-remover">X</button>
                    </div>
                </li>
                <!-- Puedes agregar más productos aquí -->
            </ul>
        </section>
        <section class="pago">
            <h2>Proceso de Pago</h2>
            <div class="tarjetas">
                slider de tarjestas
            </div>
            <form class="formulario-pago-descuento">
                <div>
                    <label for="cvv">CVV de la Tarjeta:</label>
                    <input type="text" id="cvv" name="cvv" required>
                </div>
                <div>
                    <label for="codigo-descuento">Código de Descuento:</label>
                    <input type="text" id="codigo-descuento" name="codigo-descuento">
                    <button type="button" id="aplicar-descuento">APLICAR</button>
                </div>
            </form>
            <div class="detalle-compra">
                <h3>Detalle de la Compra</h3>
                <ul class="lista-compra">
                    detalle
                </ul>
                <p>Envío: $<span id="envio">0.00</span></p>
                <p>Descuento: $<span id="descuento">0.00</span></p>
                <p>Total: $<span id="total">0.00</span></p>
                <button id="boton-pagar">Pagar</button>
            </div>
        </section>
    </main>
    




    <!-- <div class="avatar">
        <img src="/img/avatars/15.jpg" alt="Avatar">
    </div> -->

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>