<!DOCTYPE html>
<html lang="es">

<head>
    <!-- head -->
    <%- include('../partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/historyStyle.css">
    <title>Picatso</title>
</head>

<body>

    <!-- header -->
    <%- include('../partials/header.ejs') %>

    <main class="main">

        <div class="historial container">
            <% if ( locals.errors && errors.msg ) { %>
            <h2>Para ver tu historial de compras primero debes iniciar sesión</h2>
            <% } else { %>
            <h2>Historial de productos comprados</h2>
            <div class="producto__contenedor">
                <div class="producto">
                    <img src="/img/prod1-rascador.jpg" alt="rascador" class="producto__img">
                    <div class="producto__info">
                        <p class="producto__nombre">Rascador de madera para gatos</p>
                        <p class="producto__precio">$5800</p>
                        <p class="producto__descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis provident ullam repudiandae, voluptatem doloremque assumenda eligendi optio deleniti et facilis quo sapiente ut possimus. Iste est sapiente perferendis pariatur tempora.</p>
                    </div>
                </div>
            </div>
            <div class="producto__contenedor">
                <div class="producto">
                    <img src="/img/prod2-transportador.jpg" alt="transportador" class="producto__img">
                    <div class="producto__info">
                        <p class="producto__nombre">Transportador para gatos puerta de metal</p>
                        <p class="producto__precio">$12300</p>
                        <p class="producto__descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis provident ullam repudiandae, voluptatem doloremque assumenda eligendi optio deleniti et facilis.</p>
                    </div>
                </div>
            </div>
            <div class="producto__contenedor">
                <div class="producto">
                    <img src="/img/prod3-casita.jpg" alt="casita" class="producto__img">
                    <div class="producto__info">
                        <p class="producto__nombre">Casita para gatos</p>
                        <p class="producto__precio">$6900</p>
                        <p class="producto__descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis provident ullam repudiandae, voluptatem doloremque assumenda eligendi optio deleniti et facilis quo sapiente ut possimus. Iste.</p>
                    </div>
                </div>
            </div>
            <div class="producto__contenedor">
                <div class="producto">
                    <img src="/img/prod4-alimento.jpg" alt="alimento" class="producto__img">
                    <div class="producto__info">
                        <p class="producto__nombre">Alimento Raza sabor pescado</p>
                        <p class="producto__precio">$3800</p>
                        <p class="producto__descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis provident ullam repudiandae, voluptatem doloremque assumenda eligendi optio deleniti.</p>
                    </div>
                </div>
            </div>
            <div class="producto__contenedor">
                <div class="producto">
                    <img src="/img/prod5-peine.jpg" alt="peine" class="producto__img">
                    <div class="producto__info">
                        <p class="producto__nombre">Peine para gatos</p>
                        <p class="producto__precio">$700</p>
                        <p class="producto__descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis provident pariatur tempora.</p>
                    </div>
                </div>
            </div>
            <% } %>
        </div>

    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>