<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Picatso</title>
</head>

<body>

    <header class="header">
        <div class="header__menu container">

            <div class="header__divLogo">
                <img src="/public/img/LogoRedondo.png" alt="" class="header__logo">
                <h1 class="header__logoTexto">Picatso</h1>
            </div>

            <div class="header__buscador">
                <input type="text" name="" id="buscador" placeholder="buscar algun producto">
                <button class="boton boton-buscar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <div class="header__divUserOptions">
               <a href="login.html"> <i class="fa-solid fa-user"></i></a>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>

            <input type="checkbox" id="menu">
            <label class="header__label" for="menu">
                <i class="header__icon fa-solid fa-bars"></i>
            </label>
            <nav class="header__nav">
                <ul class="header__ul container">
                    <li class="header__li"><a href="home.html">Inicio</a></li>
                    <li class="header__li"><a href="#">Productos</a></li>
                    <li class="header__li"><a href="#">Opciones</a></li>
                    <li class="header__li"><a href="#">Perfil</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <main class="main_Details_Products">

        <div class="details_Products_Container">

            <div class="details_Products_Item">
                <img src="/public/img/alimentos.jpg" alt="" class="detail_img">
            </div>

            <div class="details_Products">

                <div class="details_Products_Title">
                    <h2 class="products_Title"> Titulo del Producto</h2>
                </div>

                <div class="details_Products_Description">
                    <div class="products_Description_Title">
                        <h3>Descripcion del producto:</h3>
                    </div>
                    <div class="products_Description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est dolorem consequuntur,
                             ipsa at laboriosam voluptas sit! Quae, doloremque ipsum aperiam quaerat rerum quibusdam sequi 
                             corporis id exercitationem commodi reiciendis
                        </p>
                    </div>
                    <div class="description_Price">
                        <h4>
                            Precio: $ 
                        </h4>
                        <h4>
                            5000
                        </h4>
                    </div>
                    <div class="description_Amount">
                        <div class="description_Amount_Title">
                            <h4>
                                Cantidad
                            </h4>
                        </div>
                        <div class="description_Amount_Num">
                            <button class="button_Amount" type="button" >
                                -
                            </button>
                            <input class="amount_Num" type="tel" step="1" value="1">
                            <button class="button_Amount" type="button" >
                                +
                            </button>
                        </div>
                    </div>
                    <div class="description_Payment">
                        <div class="method_Payment">
                            <h4>
                                Metodos de pago
                            </h4>
                        </div>
                        <div class="method_Payment_Item">
                            <li class="payment_li">
                                <img src="/public/img/visa_logo.png" alt="img_Payment" class="products_payment_logo_img">
                            </li>
                            <li class="payment_li">
                                <img src="/public/img/mastercard_logo.png" alt="img_Payment" class="products_payment_logo_img">
                            </li>
                            <li class="payment_li">
                                <img src="/public/img/Icono_tarjeta.png" alt="img_Payment" class="products_payment_logo_img">
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  

    </main>

    <footer class="footer">
        <div class="footer__redes">
            <a class="footer__enlace" href="https://www.facebook.com">
                <i class="icono icono-facebook fa-brands fa-facebook-f"></i>
            </a>
            <a class="footer__enlace" href="https://www.instagram.com">
                <i class="icono icono-instagram fa-brands fa-instagram"></i>
            </a>
            <a class="footer__enlace" href="https://www.twitter.com">
                <i class="icono icono-twitter fa-brands fa-twitter"></i>
            </a>
        </div>
        <div class="footer__secciones">
            <ul class="footer__listas">
                <li class="footer__li">
                    <a href="#" class="footer__enlace">necesitas ayuda</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">contactanos</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">preguntas frecuentes</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">licencias</a>
                </li>
            </ul>
            <ul class="footer__listas">
                <li class="footer__li">
                    <a href="#" class="footer__enlace">necesitas ayuda</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">contactanos</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">preguntas frecuentes</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">licencias</a>
                </li>
            </ul>
            <ul class="footer__listas">
                <li class="footer__li">
                    <a href="#" class="footer__enlace">necesitas ayuda</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">contactanos</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">preguntas frecuentes</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">licencias</a>
                </li>
            </ul>
        </div>
    </footer>
    <h6 class="copyright">Copyright2023 - Grupo3 - Digital House</h6>

</body>

</html>