<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Picatso</title>
</head>

<body>

    <header class="header">
        <div class="header__menu container">

            <div class="header__divLogo">
                <img src="/img/LogoRedondo.png" alt="" class="header__logo">
                <h1 class="header__logoTexto">Picatso</h1>
            </div>

            <div class="header__buscador">
                <input type="text" name="" id="buscador" placeholder="buscar algun producto">
                <button class="boton boton-buscar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <div class="header__divUserOptions">
                <a href="/login"> <i class="fa-solid fa-user"></i></a>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>

            <input type="checkbox" id="menu">
            <label class="header__label" for="menu">
                <i class="header__icon fa-solid fa-bars"></i>
            </label>
            <nav class="header__nav">
                <ul class="header__ul container">
                    <li class="header__li"><a href="#">Inicio</a></li>
                    <li class="header__li"><a href="#">Productos</a></li>
                    <li class="header__li"><a href="#">Opciones</a></li>
                    <li class="header__li"><a href="#">Perfil</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <img class="banner" src="/img/BannerHome.png" alt="banner-picatso">

    <main class="main">

        <div class="historial container">
            <h2>Historial de productos comprados</h2>
            <div class="producto__contenedor">
                <div class="producto">
                    <img src="/img/prod1-rascador.jpg" alt="rascador" class="producto__img">
                    <div class="producto__info">
                        <p class="producto__nombre">Rascador de madera para gatos</p>
                        <p class="producto__precio">$5800</p>
                        <p class="producto__descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis provident ullam repudiandae, voluptatem doloremque assumenda eligendi optio deleniti et facilis quo sapiente ut possimus. Iste est sapiente perferendis pariatur tempora.</p>
                    </div>
                </div>
            </div>
            <div class="producto__contenedor">
                <div class="producto">
                    <img src="/img/prod2-transportador.jpg" alt="transportador" class="producto__img">
                    <div class="producto__info">
                        <p class="producto__nombre">Transportador para gatos puerta de metal</p>
                        <p class="producto__precio">$12300</p>
                        <p class="producto__descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis provident ullam repudiandae, voluptatem doloremque assumenda eligendi optio deleniti et facilis.</p>
                    </div>
                </div>
            </div>
            <div class="producto__contenedor">
                <div class="producto">
                    <img src="/img/prod3-casita.jpg" alt="casita" class="producto__img">
                    <div class="producto__info">
                        <p class="producto__nombre">Casita para gatos</p>
                        <p class="producto__precio">$6900</p>
                        <p class="producto__descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis provident ullam repudiandae, voluptatem doloremque assumenda eligendi optio deleniti et facilis quo sapiente ut possimus. Iste.</p>
                    </div>
                </div>
            </div>
            <div class="producto__contenedor">
                <div class="producto">
                    <img src="/img/prod4-alimento.jpg" alt="alimento" class="producto__img">
                    <div class="producto__info">
                        <p class="producto__nombre">Alimento Raza sabor pescado</p>
                        <p class="producto__precio">$3800</p>
                        <p class="producto__descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis provident ullam repudiandae, voluptatem doloremque assumenda eligendi optio deleniti.</p>
                    </div>
                </div>
            </div>
            <div class="producto__contenedor">
                <div class="producto">
                    <img src="/img/prod5-peine.jpg" alt="peine" class="producto__img">
                    <div class="producto__info">
                        <p class="producto__nombre">Peine para gatos</p>
                        <p class="producto__precio">$700</p>
                        <p class="producto__descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis provident pariatur tempora.</p>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="footer">
        <div class="footer__redes">
            <a class="footer__enlace" href="https://www.facebook.com">
                <i class="icono icono-facebook fa-brands fa-facebook-f"></i>
            </a>
            <a class="footer__enlace" href="https://www.instagram.com">
                <i class="icono icono-instagram fa-brands fa-instagram"></i>
            </a>
            <a class="footer__enlace" href="https://www.twitter.com">
                <i class="icono icono-twitter fa-brands fa-twitter"></i>
            </a>
        </div>
        <div class="footer__secciones">
            <ul class="footer__listas">
                <li class="footer__li">
                    <a href="#" class="footer__enlace">necesitas ayuda</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">contactanos</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">preguntas frecuentes</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">licencias</a>
                </li>
            </ul>
            <ul class="footer__listas">
                <li class="footer__li">
                    <a href="#" class="footer__enlace">necesitas ayuda</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">contactanos</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">preguntas frecuentes</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">licencias</a>
                </li>
            </ul>
            <ul class="footer__listas">
                <li class="footer__li">
                    <a href="#" class="footer__enlace">necesitas ayuda</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">contactanos</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">preguntas frecuentes</a>
                </li>
                <li class="footer__li">
                    <a href="#" class="footer__enlace">licencias</a>
                </li>
            </ul>
        </div>
    </footer>
    <h6 class="copyright">Copyright2023 - Grupo3 - Digital House</h6>

</body>

</html>