<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Picatso</title>
</head>

<body>

    <header class="header">
        <div class="header__menu container">

            <div class="header__divLogo">
                <img src="/img/LogoRedondo.png" alt="" class="header__logo">
                <h1 class="header__logoTexto">Pi-CAT-So</h1>
            </div>

            <div class="header__buscador">
                <input type="text" name="" id="buscador" placeholder="buscar algun producto">
                <button class="boton">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <div class="header__divUserOptions">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>

            <input type="checkbox" id="menu">
            <label class="header__label" for="menu">
                <i class="header__icon fa-solid fa-bars"></i>
            </label>
            <nav class="header__nav">
                <ul class="header__ul container">
                    <li class="header__li"><a href="#">item1</a></li>
                    <li class="header__li"><a href="#">item2</a></li>
                    <li class="header__li"><a href="#">item3</a></li>
                    <li class="header__li"><a href="#">item4</a></li>
                </ul>
            </nav>

        </div>
    </header>

</body>

</html>