.crearprod {
    padding: 30px 30px 100px 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo input,
.campo label,
.campo select,
.campo textarea {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.crearprod__titulo {
    color: #333;
    padding-bottom: 15px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    max-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
}

.crearprod__form {
    width: fit-content;
}

#imageProd {
    border: none;
    padding: 4px 0px;
}

#img-prodedit {
    margin-top: 10px;
}

#botonCrearProd {
    color: #fff;
    padding: 10px 0px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .crearprod__titulo {
        border-bottom: 1px solid #aaa;
    }

    .crearprod {
        margin-top: 60px;
        margin-bottom: 50px;
        padding: 0px 30px 60px 30px;
    }

    #priceProd,
    #discountProd,
    #stockProd {
        max-width: 150px;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    
}

@media (min-width: 1400px) {
    
}