.header__fondo {
    background-color: var(--rojo);
    position: sticky;
    top: 0;
    left: 0;

    animation: enhance-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
    z-index: 100;
}

.header {
    padding: 0px 20px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes enhance-header {
    100% {
        background-color: var(--rojo);
        opacity: 90%;
        backdrop-filter: blur(50px);
    }
}

.header__logo {
    min-width: fit-content;
    width: fit-content;
    max-width: 300px;
    color: #fff;
    font-weight: bold;
    font-family: cursive;
    font-size: 26px;
    font-style: oblique;
    display: flex;
    align-items: center;
    gap: 3px;
}

.header__searcher {
    display: none;
    padding: 0px 50px;
    flex-grow: 1;
    display: none;
    justify-content: center;
}

#searchBar {
    min-width: 80px;
    width: 100%;
    max-width: 380px;
    height: 35px;
    padding: 7px 10px;
    border-radius: 6px;
    outline: none;
    border: none;
}

#searchBar:focus {
    outline: 3px solid #b7b7b7;
}

#btn-buscar {
    color: #000;
    background-color: #fff;
    transition: all 0.25s ease;
}

#btn-buscar:hover {
    color: #000;
    background-color: #bcbcbc;
    cursor: pointer;
}

.header__searcher button {
    border-radius: 6px;
    width: 40px;
    height: 35px;
    margin-left: 5px;
    outline: none;
    border: none;
}

.header__userIcons {
    display: none;
    width: 100%;
    min-width: 210px;
    padding-right: 20px;
}

.header__userIcons ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__userIcons li {
    list-style: none;
    color: #fff;
}

.userIcons__li a {
    color: #fff;
}

.userIcons__li a:hover {
    color: #ddd;
}

.header__userIcons a img {
    width: 40px;
    height: 35px;
    border-radius: 50%;
}

.header__icon {
    color: #fff;
    font-size: 22px;
    padding: 0.4em;
    border-radius: 10px;
}

#menu {
    display: none;
}

.header__label {
    display: block;
}

.header__nav {
    display: none;
    position: relative;
    z-index: 100;
    background-color: var(--rojoOscuro);
    padding: 20px;
    width: 100%;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
}

.header__ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.header__li {
    list-style: none;
}

.header__li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.header__li a:hover {
    cursor: pointer;
    color: #bcbcbc;
}

#header__profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

#header__profile img {
    border-radius: 50%;
}

#login__li {
    display: block;
}

#menu:checked~.header__nav {
    display: block;
}

@media (min-width: 576px) {
    .header__searcher {
        display: flex;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .header {
        padding: 0px;
    }

    .header__logo {
        padding-left: 20px;
    }

    .header__label {
        display: none;
    }

    .header__nav {
        display: block;
        height: 35px;
        background-color: var(--rojo);
        padding: 0px 0px 20px 0px;
    }

    .header__ul {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 100%;
        max-width: 800px;
    }

    .header__userIcons {
        display: flex;
        width: 100%;
        max-width: 200px;
    }

    .header__userIcons ul {
        display: flex;
        align-items: center;
    }

    .userIcons__li a {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .userIcons__li a {
        text-decoration: none;
    }

    #login__li, #profile__li {
        display: none;
    }
}

@media (min-width: 1200px) {
    .header__userIcons {
        padding: 0;
    }
}

@media (min-width: 1400px) {}