.categorias-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    /* border: 1px solid #000; */
}

.categorias {
    min-height: 40vh;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.categoria__item {
    min-width: 200px;
    max-width: 300px;
    min-height: 150px;
    max-height: 230px;
    background-color: #FFF;
    background-size: 300px 230px;
    border: 2px solid #cccccc;
    position: relative;
    box-sizing: content-box;
    box-shadow: 0px 10px 15px 1px #d4d4d4;
    transition: all 0.25s ease-in-out;
}

.categoria__item a {
    position: absolute;
    width: 80%;
    bottom: 20px;
    right: 0;
    left: 0;
    margin: auto;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid #fff;
    transition: all 0.25s ease-in-out;
}

.categoria__item:hover {
    box-shadow: 0px 10px 15px 1px #4f4f4f;
    border: 2px solid #fff;
}

.categoria__item:hover a {
    background-color: #fff;
    color:#000; 
}

.cat1 {
    background-image: url(/img/alimentos.jpg);
}
.cat2 {
    background-image: url(/img/accesorios.jpg);
}
.cat3 {
    background-image: url(/img/higiene.jpg);
}

/* slider */

.slider {
    overflow: hidden;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider__titulo {
    text-align: center;
    background-color: var(--rojo);
    color: #fff;
    font-weight: bold;
    padding: 20px 0px;
}

.slider__ul {
    display: flex;
    padding: 0;
    width: 300vw;
    min-height: 300px;
    height: 100%;
    max-height: 600px;
}

.slider__li {
    list-style: none;
    width: 100vw;
    min-height: 300px;
    height: 100%;
    max-height: 600px;
}

.slider__img {
    width: 100vw;
    min-height: 300px;
    height: 100%;
    max-height: 600px;
}



@media (min-width: 576px) {
    .categoria__item {
        width: 45%;
    }
}

@media (min-width: 768px) {
    .categoria__item {
        width: 45%;
    }
}

@media (min-width: 992px) {
    .categoria__item {
        width: 28%;
    }
}

@media (min-width: 1200px) {
    .categoria__item {
        width: 20%;
    }
}

@media (min-width: 1400px) {
    
}

@keyframes slide {
    0% { margin-left: 0%; }
    40% { margin-left: 0%; }

    45% { margin-left: -102%; }
    70% { margin-left: -102%; }

    75% { margin-left: -202%; }
    100% { margin-left: -202%; }
}

