.home-titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 350px;
    width: 100%;
    max-width: 350px;
    margin: auto;
}

.home-titulos h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.categorias-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    /* border: 1px solid #000; */
}

.categorias-container p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    background-color: var(--rojo);
    padding: 10px 0px;
    border-radius: 8px;
}

.categorias {
    min-height: 40vh;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.categoria__item {
    min-width: 200px;
    max-width: 300px;
    min-height: 150px;
    max-height: 230px;
    background-color: #FFF;
    background-size: 300px 230px;
    position: relative;
    box-sizing: content-box;
    box-shadow: 0px 10px 15px 1px #d4d4d4;
    transition: all 0.25s ease-in-out;
}

.categoria__item a {
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: 0;
    left: 0;
    margin: auto;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    transition: all 0.25s ease-in-out;
    background: linear-gradient(to top, #ffffffc1 1%, transparent 99%);
}

.categoria__item a:hover {
    background: linear-gradient(to top, #ffffffc1 1%, #ffffff7d 99%);
    color: #000;
}

.categoria__item_p {
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: 0;
    left: 0;
    background-color: transparent;
    color: #001;
}

.cat1 {
    background-image: url(/img/otherImages/alimentos.jpg);
}
.cat2 {
    background-image: url(/img/otherImages/accesorios.jpg);
}
.cat3 {
    background-image: url(/img/otherImages/higiene.jpg);
}

/* slider */

.slider {
    overflow: hidden;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider__titulo {
    text-align: center;
    background-color: var(--rojo);
    color: #fff;
    font-weight: bold;
    padding: 20px 0px;
}

.slider__ul {
    display: flex;
    padding: 0;
    width: 300vw;
    min-height: 300px;
    height: 100%;
    max-height: 600px;
}

.slider__li {
    list-style: none;
    width: 100vw;
    min-height: 300px;
    height: 100%;
    max-height: 600px;
}

.slider__img {
    width: 100vw;
    min-height: 300px;
    height: 100%;
    max-height: 600px;
}



@media (min-width: 576px) {
    .categoria__item {
        width: 45%;
    }
}

@media (min-width: 768px) {
    .categoria__item {
        width: 45%;
    }
}

@media (min-width: 992px) {
    .categoria__item {
        width: 28%;
    }

    .home-titulos {
        padding-top: 30px;
        justify-content: center;
        width: 100%;
        max-width: 900px;
        margin: auto;
    }

    .home-titulos h2 {
        font-size: 38px;
    }

    .home-titulos p {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .categoria__item {
        width: 25%;
    }
}

@media (min-width: 1400px) {
    
}

@keyframes slide {
    0% { margin-left: 0%; }
    40% { margin-left: 0%; }

    45% { margin-left: -102%; }
    70% { margin-left: -102%; }

    75% { margin-left: -202%; }
    100% { margin-left: -202%; }
}

