.productos {
    /* border: 1px solid black; */
    padding: 50px 0px 80px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.card {
    width: 350px;
    height: auto;
    padding: 20px;
}

.product__item {
    padding: 20px 20px 20px 20px;
    border: 1px solid #d4d4d4;
    background-color: #fbfbfb;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.15s ease-in-out;
    position: relative;
}

.product__item:hover {
    box-shadow: 0px 0px 25px 0px rgba(177, 177, 177, 0.786);
}

.product__delete i {
    background-color: #fafafa;
    color: #999;
    font-size: 15px;
    position: absolute;
    top: 12px;
    right: 12px;
    transition: all 0.25s ease-in;
}

.product__delete i:hover {
    color: #f00;
}

.product__edit i {
    background-color: #fafafa;
    color: #999;
    font-size: 14px;
    position: absolute;
    top: 12px;
    left: 12px;
    transition: all 0.25s ease-in;
}

.product__edit i:hover {
    color: #090909;
}

.product__image {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #b0b0b0;
    object-fit: contain;
    margin-bottom: 16px;
    overflow: hidden;
}

.product__name {
    color: #444;
    line-height: 1.2em;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 8px;
    text-decoration: none;
}

.product__name:hover {
    text-decoration: underline;
}

.product__info {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__info2 {
    display: flex;
    align-items: flex-start;
}

.product__price {
    color: #333;
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.5em;
    padding-right: 10px;
}

.product__pricelinethrough {
    font-size: 0.7em;
    text-decoration: line-through;
    color: #333;
    padding-right: 5px;
}

.product__discount {
    color: #135a13;
    font-size: 0.7em;
    line-height: 1.3em;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .productos {
        justify-content: flex-start;
    }
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}

@media (min-width: 1400px) {
    
}