* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --rojo: #D94A56;
    --rojoOscuro: #af3d46;
    --rosaFuerte: #F26B8F;
    --amarillo: #C0D904;
    --rosaClaro: #F2A2A2;
    --grisClaro: #F2F2F2;
   
}

#carrito{
    background-color:var(--rosaClaro);
}
.productosCarrito{
    background-color: #aaa;
    display: inline;
}

.header {
    padding: 8px;
    height: 80px;
    background-color: var(--rojo);
}

.boton {
    padding: 12px;
    background-color: #fff;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__divLogo {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__logo {
    max-width: 75px;
    height: 100%;
    margin-right: 5px;
}

.header__logoTexto {
    display: none;
    color: #FFF;
    font-size: 30px;
    font-family: 'Caveat', cursive;
    white-space: nowrap;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    height: 100%;
    z-index: 1000;
}

.header__divUserOptions {
    display: none;
    justify-content: flex-end;
    padding-right: 30px;
}

.header__divUserOptions i {
    margin-left: 20px;
    color: #fff;
    font-size: 22px;
    padding: 12px;
    background-color: transparent;
    border-radius: 100%;
    transition: all 0.35s ease;
}

.header__divUserOptions i:hover {
    background-color: var(--rojoOscuro);
}

.header__buscador {
    display: flex;
    padding: 0px 8px;
    min-width: 100px;
    width: 100%;
    max-width: 250px;
    justify-content: center;
    flex-wrap: nowrap;
}

#buscador {
    display: none;
    min-width: 60px;
    width: 100%;
    max-width: 250px;
    margin-right: 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 8px 15px;
}

.boton-buscar {
    display: none;
}

#buscador::placeholder {
    color: #aaa;
    font-size: 16px;
}

#menu {
    display: none;
}

.header__nav {
    background-color: var(--rojoOscuro);
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
}

.header__ul {
    display: flex;
    flex-direction: column;
    padding: 15px 35px;
}

.header__li {
    list-style: none;
    margin: 18px 0px;
}

.header__li a {
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
    border-radius: 25px;
    background-color: transparent;
    transition: all 0.35s ease;
    cursor: pointer;
    font-weight: bold;
}

.header__li a:hover {
    background-color: var(--rojoOscuro);
}

.header__icon {
    font-size: 32px;
    color: #FFF;
    padding: 12px;
    background-color: var(--rojoOscuro);
    border-radius: 12px;
    margin: 0px 10px;
    display: block;
}

#menu:checked ~ .header__nav {
    display: block;
}

/*  --------------------------   */

.banner {
    width: 100%;
    min-height: 250px;
    max-height: 500px;
    object-fit: fill;
}

.categorias {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.categoria__item {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    align-items: center;
    margin: 20px;
    background-color: var(--rojo);
    padding: 20px;
    border-radius: 12px;
    border: 4px solid transparent;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
}

.categoria__item:hover {
    background-color: var(--amarillo);
    border: 4px solid #000;
}

.categoria__img {
    max-width: 250px;
    min-height: 200px;
    max-height: 250px;
    margin-bottom: 20px;
    outline: 2px solid black;
    border-radius: 12px;
}

.categoria__nombre {
    transition: all 0.35s ease-in-out;
    color: #fff;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.categoria__item:hover .categoria__nombre {
    color: #000;
}


.slider {
    overflow: hidden;
    animation: slide 15s infinite alternate ease-in-out;
}

.slider__titulo {
    text-align: center;
    background-color: var(--rojo);
    color: #fff;
    font-weight: bold;
    padding: 20px 0px;
}

.slider__ul {
    display: flex;
    padding: 0;
    width: 300%;
}

.slider__li {
    list-style: none;
    min-height: fit-content;
    max-height: 450px;
}

.slider__img {
    width: 100vw;
    min-height: 200px;
    height: 100%;
}


/* ------------------ */

/* historial de compras */

.historial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 20px 100px 20px;
}

.historial h2 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 26px;
    color: #565656;
    text-align: center;
}

.producto__contenedor {
    padding: 20px 0px;
    border-bottom: 1px solid #d2d2d2;
    text-align: center;
    margin: 0 auto;
}

.producto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    border-radius: 4px;
}

.producto__img {
    height: 150px;
    object-fit: contain;
}

.producto__info {
    padding: 15px;
}

.producto__nombre {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    line-height: 1.5em;
}

.producto__nombre:hover {
    text-decoration: underline;
    cursor: pointer;
}

.producto__precio {
    font-style: 18px;
    line-height: 1.5em;
    color: #22b12e;
    margin-bottom: 10px;
}

.producto__descripcion {
    line-height: 1.3em;
    color: #565656;
}

/* ------------------ */

/* FOOTER */

.footer {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    background-color: var(--rojoOscuro);
    height: fit-content;
    padding: 20px;
}

.footer__redes {
    min-width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer__enlace {
    margin: 10px 10px;
    color: #DEDEDE;
    text-decoration: none;
    white-space: nowrap;
}

.footer__enlace:hover {
    color: #BCBCBC;
}

.icono {
    width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.icono-facebook {
    color: #FFF;
    background-color: #3b5998;
    padding-left: 10px;
}

.icono-instagram {
    color: #FFF;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.icono-twitter {
    color: #fff;
    background-color: #00acee;
    font-size: 28px;
}

.footer__secciones {
    display: flex;
    flex-wrap: wrap;
}

.footer__listas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer__li {
    list-style: none;
    margin: 4px 0px;
}

.copyright {
    height: 30px;
    font-size: 13px;
    color: #cdcdcd;
    text-align: center;
    background-color: var(--rojoOscuro);
    font-weight: normal;
    letter-spacing: 3px;
}



/*  media queries */

@media (min-width: 450px) {
    #buscador {
        display: block;
    }
    .boton-buscar {
        display: block;
    }
}

@media (min-width: 768px) {
    #menu, .header__icon, .header__label {
        display: none !important;
    }

    .header {
        height: 60px;
    }

    .header__li {
        padding: 8px 15px;
        margin: 0px;
    }

    .header__li a {
        font-size: 16px;
        padding: 8px 20px;
    }

    .header__nav {
        top: 60px;
        display: flex;
        background-color: var(--rojo);
    }

    .header__ul {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0px 10px 0px;
    }

    .header__divLogo {
        padding-right: 20px;
    }

    .header__logoTexto {
        display: inline-block;
    }

    .header__divUserOptions {
        display: flex;
    }

    .header__buscador {
        max-width: 400px;
    }

    #buscador {
        max-width: 400px;
        padding: 4px 10px;
    }

    #buscador::placeholder {
        color: #aaa;
        font-size: 18px;
    }

    .banner {
        padding-top: 49px;
    }

    .footer__listas {
        padding-right: 20px;
    }
    .ingresa{
        margin-top: 10%;
    }

    .historial {
        justify-items: flex-start;
    }

    .historial h2 {
        text-align: left;
    }

    .producto__contenedor {
        text-align: left;
        margin: 0;
    }
    
    .producto {
        flex-wrap: nowrap; 
        max-width: none;
    }
    
    .producto__img {
        padding-right: 15px;
        min-width: 250px;
    }
    
    .producto__info {
        padding: 15px;
        border-left: 1px solid #a4a4a4;
    }
    
}

@keyframes slide {
    0% { margin-left: 0%; }
    30% { margin-left: 0%; }

    35% { margin-left: -100%; }
    60% { margin-left: -100%; }

    65% { margin-left: -200%; }
    100% { margin-left: -200%; }
}
.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 10px;
    margin: 10px;
    background-color: var(--rosaClaro) ;
    color:white;

}
.titulof{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.botonf{
    padding: 9px;
    display: flex;
    justify-content: space-around; 
    margin-bottom: 8px;
   
}
/* Estilos login  */
.main-login{
    background-image: url("/img/BannerHome.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 45vh
}
.ingresa{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: #ebebeb;
  margin-bottom: 15px;
  justify-content: center;
  width: 75%;
  margin-left: 10%;
  margin-top: 8%;
  box-shadow: 0px 0px 15px rgb(100, 100, 100)
}
.ingresa input{
    margin: 10px 0;
    
}