<header class="header__fondo">
    <div class="header container">
        <div class="header__logo">
            <img width="50px" src="/img/LogoRedondo.png" alt="logo-picatso">
            PICATSO
        </div>
        <form class="header__searcher" action="/products/search" method="GET">
            <input type="text" name="searchBar" id="searchBar" placeholder="Buscar productos">
            <button id="btn-buscar" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div class="header__userIcons">
            <ul class="userIcons__ul">
                <li class="userIcons__li"><i class="fa-solid fa-cart-shopping"></i></li>
                <li class="userIcons__li"><i class="fa-solid fa-bell"></i></li>
                <li class="userIcons__li"><i class="fa-solid fa-user"></i></li>
            </ul>
        </div>
        <input type="checkbox" id="menu">
        <label class="header__label" for="menu">
            <i class="header__icon fa-solid fa-bars"></i>
        </label>
        <nav class="header__nav">
            <ul class="header__ul">
                <li class="header__li"><a href="/">Inicio</a></li>
                <li class="header__li"><a href="/products">Productos</a></li>
                <!-- <li class="header__li"><a href="/products/card">Metodos de pago</a></li> -->
                <li class="header__li"><a href="/products/history">Historial</a></li>
                <li class="header__li"><a href="/register">Registrarse</a></li>
                <li class="header__li"><a href="/login">Iniciar sesion</a></li>
            </ul>
        </nav>
    </div>
</header>