<header class="header__fondo">
    <div class="header container">
        <div class="header__logo">
            <!-- <img width="50px" src="/img/LogoRedondo.png" alt="logo-picatso"> -->
            Picatso
        </div>
        <form class="header__searcher" action="/products/search" method="GET">
            <input type="text" name="searchBar" id="searchBar" placeholder="Buscar...">
            <button id="btn-buscar" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div class="header__userIcons">
            <ul class="userIcons__ul">

                <li class="userIcons__li">
                    <a href="/products/cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
                <li class="userIcons__li">
                    <a href="">
                        <i class="fa-solid fa-bell"></i>
                    </a>
                </li>
                <li class="userIcons__li">
                    <% if (locals.userLogged && userLogged.username) { %>
                        <a href="/profile/<%= userLogged.id %>">
                            <%= userLogged.username %> <img src="/img/profileImages/<%= userLogged.avatar %>" alt="">
                        </a>
                    <% } else { %>
                        <a href="/login">
                            Iniciar Sesión <i class="fa-solid fa-user"></i>
                        </a>
                    <% } %>
                </li>

            </ul>
        </div>
        <input type="checkbox" id="menu">
        <label class="header__label" for="menu">
            <i class="header__icon fa-solid fa-bars"></i>
        </label>
        <nav class="header__nav">
            <ul class="header__ul">
                <li class="header__li"><a href="/">Inicio</a></li>
                <li class="header__li"><a href="/products">Productos</a></li>
                <% if (locals.userLogged == undefined) { %>
                <li class="header__li"><a href="/register">Registrarme</a></li> 
                <% } else { %>
                <li class="header__li"><a href="/products/history">Historial</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>