<!DOCTYPE html>
<html lang="es">

<head>
    <!-- head -->
    <%- include('../partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/homeStyle.css">
    <title>Picatso</title>
</head>

<body>

    <!-- header -->
    <%- include('../partials/header.ejs') %>

    <main class="container">
        <div class="categorias-container">
            <div class="categorias">
                <div class="categoria__item cat1">
                    <a href="/products/1">Alimentos</a>
                </div>
                <div class="categoria__item cat2">
                    <a href="/products/2">Accesorios</a>
                </div>
                <div class="categoria__item cat3">
                    <a href="/products/3">Higiene</a>
                </div>
            </div>
        </div>
    </main>
    <h3 class="slider__titulo">NUEVAS OFERTAS IMPERDIBLES</h3>
    <div class="slider">
        <ul class="slider__ul">
            <li class="slider__li">
                <img class="slider__img" src="/img/otherImages/slider1.jpg" alt="slider1">
            </li>
            <li class="slider__li">
                <img class="slider__img" src="/img/otherImages/slider2.jpg" alt="slider2">
            </li>
            <li class="slider__li">
                <img class="slider__img" src="/img/otherImages/slider3.jpg" alt="slider3">
            </li>
        </ul>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

</body>

</html>