<!DOCTYPE html>
<html lang="es">

<head>
  <!-- head -->
  <%- include('../partials/head.ejs')  %>
  <link rel="stylesheet" href="/css/loginStyle.css">
  <title>Login</title>
</head>

<body>

  <!-- header -->
  <%- include('../partials/header.ejs') %>

  <main class="main-login"> 
    <form  class="form-login" action="/ingresa" method="POST" enctype="multipart/form-data">
      <h2 class="login__title">Ingresá a tu cuenta</h2>
      <div class="campo">
        <input type="text" name="username" placeholder="Nombre de usuario"/>
      </div>
      <div class="campo">
        <input type="password" name="password" placeholder="Contraseña"/>
      </div>
      <div class="campo-botones">
        <button type="submit" class="botonf">Enviar</button>
      </div>
    </form>
  </main>

  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>

</body>

</html>